.section {
  .addresscontainer {
    display: flex;
    background-color: #fffcf6;
    width: 100vw;
    height: 100vh;
    padding: 20vh 10vh 10vh 10vh;

    @media only screen and (max-width: 750px) {
      height: 100vh;
      padding: 15vh 3vh;
    }
  }

  .formcontainer {
    display: flex;
    background-color: #85a5c4;
    width: 100vw;
    height: 100vh;
    padding: 20vh 10vh 10vh 10vh;

    @media only screen and (max-width: 750px) {
      height: auto;
      padding: 10vh 3vh;
    }
  }
}
