.section {
  height: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 12vh;

  margin: 0 auto;

  h4 {
    color: grey;

    padding-bottom: 9vh;

    text-transform: uppercase;

    font-size: 3.2vh;
    margin-bottom: 5vh;
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 500;
    @media only screen and (max-width: 750px) {
      font-size: 2.5vh;
      max-width: 65%;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding-bottom: 12vh;
  }
}
