.nav {
  position: absolute;
  top: -2vh;
  left: 0;
  width: 110vw;
  height: 102vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  padding-left: 4vh;

  .header2 {
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-between;
    width: auto;
    font-weight: 300;
    box-sizing: border-box;
    align-items: center;
    z-index: 2000;

    .logo {
      display: flex;
      cursor: pointer;
      width: auto;
      margin-top: 3vh;
      margin-top: -65vh;

      img {
        height: 7vh;
        width: auto;
      }
    }
  }

  // .navContent {
  //   background-color: violet;
  //   ul {
  //     list-style: none;
  //     padding: 0;
  //     margin: 0;
  //     text-align: center;

  //     li {
  //       margin: 1rem 0;

  //       .link {
  //         text-decoration: none;
  //         font-size: 2rem;
  //         font-weight: bold;
  //         color: black;
  //         transition: color 0.3s;

  //         &:hover {
  //           color: lightgray;
  //         }
  //       }
  //     }
  //   }
  // }
}
